# Data Check

## Check if health statuses match across colony and sample data 
- (specifically checking if 2019 and 2022 colony data is correct)

In [1]:
import numpy as np
import pandas as pd
import os

In [3]:
sample_data=pd.read_csv('/Users/brookesienkiewicz/Documents/sctld/SCTLD_samples/Sample_Data/CBC_samples.csv',index_col="Tubelabel_species")

In [4]:
# convert dates to str
sample_data['Month_year'] = sample_data['Month_year'].astype(str)
# remove the decimal point
sample_data['Month_year'] = sample_data['Month_year'].str.replace('.0', '')
# add leading zeros where necessary
sample_data['Month_year'] = sample_data['Month_year'].str.pad(width=6, side='left', fillchar='0')
sample_data['Month_year']

# Extract month and year to make separate columns 
sample_data.loc[:,'Month'] = sample_data.loc[:,'Month_year'].str[0:2]
sample_data.loc[:,'Year'] = sample_data.loc[:,'Month_year'].str[2:]

In [5]:
sample_data.head()

,Month_year,Country,Location,CollectionDate,Transect,TransectNum,OldTagNum,NewTagNum,Species,Time_sampled,...,Sample_type,SampleNum,Health_status,Sampling_notes,Sample_physical_location,Extraction_physical_location,Date_sequenced,Notes,Month,Year
Tubelabel_species,,,,,,,,,,,,,,,,,,,,,
122022_BEL_CBC_T4_18_OFAV,122022,BEL,CBC,12/5/22,CURLEW,4,NaN,77,OFAV,NaN,...,Core_frozen,18,Healthy,NaN,NaN,NaN,NaN,NaN,12,2022
092023_BEL_CBC_T1_171_PAST,092023,BEL,CBC,9/25/23,CBC30N,1,NaN,2,PAST,NaN,...,Core_RNAlater,171,Healthy,CLP 90%,UML_NARWHAL_R1_B10,NaN,NaN,NaN,09,2023
092023_BEL_CBC_T1_172_PAST,092023,BEL,CBC,9/25/23,CBC30N,1,NaN,21,PAST,NaN,...,Core_RNAlater,172,Healthy,No CL,UML_NARWHAL_R1_B10,NaN,NaN,NaN,09,2023
092023_BEL_CBC_T1_173_SSID,092023,BEL,CBC,9/25/23,CBC30N,1,NaN,3,SSID,NaN,...,Core_RNAlater,173,Healthy,CLP 80%; DC 20%,UML_NARWHAL_R1_B10,NaN,NaN,NaN,09,2023
092023_BEL_CBC_T1_174_MCAV,092023,BEL,CBC,9/25/23,CBC30N,1,NaN,24,MCAV,NaN,...,Core_RNAlater,174,Healthy,CLP 10%,UML_NARWHAL_R1_B10,NaN,NaN,NaN,09,2023

In [6]:
colony_data=pd.read_csv('/Users/brookesienkiewicz/Documents/sctld/SCTLD_samples/Sample_Data/CBC_ColonyData.csv')

In [30]:
colony_data.columns

Index(['Unnamed: 0', 'Date_InitialTag', 'Transect', 'TransectNum', 'OldTagNum',
       'NewTagNum', 'Species', 'Meter', 'Meters_90', 'Direction', 'Size_Class',
       'MaxDiameter', 'Height', 'Date_DocumentedDisease',
       'Date_DocumentedMortality', 'Notes_062019', '062019_Condition',
       '062019_Percentage', 'Notes_052022', '052022_Condition',
       '052022_Percentage', 'Notes_122022', '122022_Condition',
       '122022_Percentage', 'Notes_092023', '092023_Condition',
       '092023_Percentage', 'Notes_112023', '112023_Condition',
       '112023_Percentage', 'Notes_122023', '122023_Condition',
       '122023_Percentage', 'Notes_012024', '012024_Condition',
       '012024_Percentage', 'Notes_022024', '022024_Condition',
       '022024_Percentage', 'Notes_042024', '042024_Condition',
       '042024_Percentage', '062024_Condition', '062024_Percentage',
       'Notes_062024', 'checked_colonies', 'ID'],
      dtype='object')

In [13]:
# convert integers to strings 
colony_data['NewTagNum'] = colony_data['NewTagNum'].astype(str)
colony_data['TransectNum'] = colony_data['TransectNum'].astype(str)
sample_data['NewTagNum'] = sample_data['NewTagNum'].astype(str)
sample_data['TransectNum'] = sample_data['TransectNum'].astype(str)

In [19]:
# add tag id to both sample and colony data to match it 
colony_data['ID'] = colony_data['Species'].str.cat(colony_data[['NewTagNum', 'TransectNum']], sep='_')
sample_data['ID'] = sample_data['Species'].str.cat(sample_data[['NewTagNum', 'TransectNum']], sep='_')

In [20]:
colony_data['ID']

0       SSID_1_1
1      DLAB_27_1
2       SSID_3_1
3      DLAB_35_1
4       SSID_5_1
         ...
214    PAST_13_6
215    SSID_14_6
216    SSID_15_6
217    OANN_99_4
218    SSID_99_2
Name: ID, Length: 219, dtype: object

In [21]:
sample_data['ID']

Tubelabel_species
122022_BEL_CBC_T4_18_OFAV     OFAV_77_4
092023_BEL_CBC_T1_171_PAST     PAST_2_1
092023_BEL_CBC_T1_172_PAST    PAST_21_1
092023_BEL_CBC_T1_173_SSID     SSID_3_1
092023_BEL_CBC_T1_174_MCAV    MCAV_24_1
                                ...
62024_BEL_CBC_T4_1461_OFAV    OFAV_78_4
NaN                           OFAV_78_4
NaN                           MCAV_76_4
62024_BEL_CBC_T4_1464_MCAV    MCAV_76_4
NaN                           MCAV_76_4
Name: ID, Length: 2104, dtype: object

In [23]:
sample_data['Sample_type'].unique()

array(['Core_frozen', 'Core_RNAlater', 'Core_EtOH', 'Probiotics',
       'Immune', 'TEM', nan, 'Syringe'], dtype=object)

In [32]:
sample_data.columns

Index(['Month_year', 'Country', 'Location', 'CollectionDate', 'Transect',
       'TransectNum', 'OldTagNum', 'NewTagNum', 'Species', 'Time_sampled',
       'Time_processed', 'Sample_type', 'SampleNum', 'Health_status',
       'Sampling_notes', 'Sample_physical_location',
       'Extraction_physical_location', 'Date_sequenced', 'Notes', 'Month',
       'Year', 'ID'],
      dtype='object')

In [26]:
#drop any accidental samples
sample_data = sample_data[sample_data['NewTagNum'] != "AS"]

In [28]:
# check if sample type matches health statuses on colony data 
# first filter samples for just CoreEtOH
sample_data=sample_data[sample_data['Sample_type']=="Core_EtOH"]

In [67]:
# change health statuses in sample type to diseased for easier matching 
diseased_rows=sample_data['Health_status'].str.contains("Diseased")
diseased_rows

Tubelabel_species
122022_BEL_CBC_T1_120_OANN     True
122022_BEL_CBC_T1_136_OANN     True
052022_BEL_CBC_T1_41_OANN     False
122022_BEL_CBC_T1_122_PSTR    False
122022_BEL_CBC_T1_125_SSID     True
                              ...
062019_BEL_CBC_T2_6_MMEA      False
062019_BEL_CBC_T2_7_MMEA      False
122022_BEL_CBC_T1_121_SSID     True
122022_BEL_CBC_T1_135_SSID     True
052022_BEL_CBC_T1_63_OFAV     False
Name: Health_status, Length: 347, dtype: bool

In [71]:
sample_data.loc[diseased_rows, 'Health_status']="Diseased"

In [72]:
# filter 2019 sample data 
sample_data['Month_year'] = sample_data['Month_year'].astype(str)
# Search for rows where the column contains '2019'
samples_2019 = sample_data[sample_data['Month_year'].str.contains('2019')]
samples_may2022 = sample_data[sample_data['Month_year']=="052022"]
samples_dec2022 = sample_data[sample_data['Month_year']=="122022"]
print(samples_2019.shape)
print(samples_may2022.shape)
print(samples_dec2022.shape)
print(sample_data.shape)

(106, 22)
(107, 22)
(134, 22)
(347, 22)

In [73]:
sample_data['Month_year'].unique()

array(['122022', '052022', '102019', '062019'], dtype=object)

In [75]:
sample_data['Health_status'].unique()

array(['Diseased', 'Healthy'], dtype=object)

In [76]:
colony_data.columns

Index(['Unnamed: 0', 'Date_InitialTag', 'Transect', 'TransectNum', 'OldTagNum',
       'NewTagNum', 'Species', 'Meter', 'Meters_90', 'Direction', 'Size_Class',
       'MaxDiameter', 'Height', 'Date_DocumentedDisease',
       'Date_DocumentedMortality', 'Notes_062019', '062019_Condition',
       '062019_Percentage', 'Notes_052022', '052022_Condition',
       '052022_Percentage', 'Notes_122022', '122022_Condition',
       '122022_Percentage', 'Notes_092023', '092023_Condition',
       '092023_Percentage', 'Notes_112023', '112023_Condition',
       '112023_Percentage', 'Notes_122023', '122023_Condition',
       '122023_Percentage', 'Notes_012024', '012024_Condition',
       '012024_Percentage', 'Notes_022024', '022024_Condition',
       '022024_Percentage', 'Notes_042024', '042024_Condition',
       '042024_Percentage', '062024_Condition', '062024_Percentage',
       'Notes_062024', 'checked_colonies', 'ID'],
      dtype='object')

In [77]:
# if ID matches, do the entries in "sample type" and "health status"

In [78]:
# Merge the DataFrames on the "ID" column
merged_data = pd.merge(samples_2019, colony_data, on='ID', how='inner')

# Check if "SampleType" matches "062019_Condition"
merged_data['Match'] = merged_data['Health_status'] == merged_data['062019_Condition']

# Display the rows where there is a match
matching_rows = merged_data[merged_data['Match']]

# Optionally, display the non-matching rows as well
non_matching_rows = merged_data[~merged_data['Match']]
non_matching_rows.loc[:,('ID','Month_year','Health_status','062019_Condition')]

Empty DataFrame
Columns: [ID, Month_year, Health_status, 062019_Condition]
Index: []

In [79]:
# Merge the DataFrames on the "ID" column
merged_data = pd.merge(samples_may2022, colony_data, on='ID', how='inner')

# Check if "SampleType" matches "062019_Condition"
merged_data['Match'] = merged_data['Health_status'] == merged_data['052022_Condition']

# Display the rows where there is a match
matching_rows = merged_data[merged_data['Match']]

# Optionally, display the non-matching rows as well
non_matching_rows = merged_data[~merged_data['Match']]
non_matching_rows.loc[:,('ID','Month_year','Health_status','052022_Condition')]

            ID Month_year Health_status 052022_Condition
4    OANN_23_1     052022       Healthy               DC
9    OFAV_80_2     052022       Healthy         Diseased
18   SSID_74_2     052022       Healthy         Diseased
19   SSID_51_2     052022       Healthy         Diseased
28   SSID_67_2     052022      Diseased     Diseased, DC
29   SSID_67_2     052022      Diseased     Diseased, DC
35   PAST_56_2     052022      Diseased          Healthy
36   PAST_56_2     052022      Diseased          Healthy
58   PAST_19_1     052022       Healthy         Diseased
81   SSID_36_3     052022      Diseased     Diseased, DC
84    SSID_3_3     052022      Diseased     Diseased, DC
98    SSID_3_3     052022      Diseased     Diseased, DC
103  SSID_36_3     052022      Diseased     Diseased, DC

In [ ]:
## double checking 052022 conditions 

#oann 23 is DC 
#ofav 80 healthy 
#ssid 74 healthy 
#ssid 51 diseased - change sample type 
#ssid 67 diseased
#past 56 diseased 
#past 19 diseased - change sample type 
#ssid 36 diseased
#ssid 3 diseased

#changed colony data to reflect

In [80]:
# Merge the DataFrames on the "ID" column
merged_data = pd.merge(samples_dec2022, colony_data, on='ID', how='inner')

# Check if "SampleType" matches "062019_Condition"
merged_data['Match'] = merged_data['Health_status'] == merged_data['122022_Condition']

# Display the rows where there is a match
matching_rows = merged_data[merged_data['Match']]

# Optionally, display the non-matching rows as well
non_matching_rows = merged_data[~merged_data['Match']]
non_matching_rows.loc[:,('ID','Month_year','Health_status','122022_Condition')]

            ID Month_year Health_status 122022_Condition
31   SSID_52_2     122022      Diseased    Diseased, CLP
33   SSID_52_2     122022      Diseased    Diseased, CLP
51   MCAV_59_2     122022       Healthy         Diseased
78   SSID_36_3     122022       Healthy         Healthy?
80   OFAV_39_3     122022       Healthy      Not_Visited
96    PAST_7_3     122022       Healthy              CLP
101  MCAV_71_3     122022       Healthy               DC
128  OANN_23_1     122022       Healthy               DC

In [ ]:
## double checking 122022 conditions 

#ssid 52 diseased 
#mcav 59 healthy 
#ssid 36 healthy 
#ofav 39 healthy 
#past 7 healthy 
#mcav 71 DC ..i guess leave sample type as healthy?
#oann 23 DC ..also leave as healthy in sample data?